<h1>Editar tarefa</h1>

<div class="well">
  <form #formTarefa="ngForm" (ngSubmit)="atualizar()">
    <div class="form-group">
      <label for="nome">Tarefa:</label>
      <input type="text" class="form-control" id="nome" name="nome" minlength="3" required [(ngModel)]="tarefa.nome" #nome="ngModel">
      <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
        <div *ngIf="nome.errors.required">Digite a tarefa.</div>
        <div *ngIf="nome.errors.minlength">A tarefa deve conter ao menos 3 caracteres.</div>
      </div>
    </div>
    <div class="form-group text-center">
      <input type="submit" class="btn btn-success" value="Atualizar">&nbsp;
      <a class="btn btn-default" [routerLink]="['/']">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
